* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}

html,
body {
    overflow-x: hidden;
}

#nav {
    display: flex;
    height: 145px;
    width: 100%;
    /* background-color: blue; */
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img {
    height: 75px;
}

#nav h2 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.57);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

#page1 h1 {
    font-size: 130px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "Learn. Develop. Enjoy.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #1e93c1;
    z-index: -1;
}

#page1 h2 {
    font-size: 33px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 22px;
    font-weight: 500;
    width: 52%;
}
#page1s {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

#page1s h1 {
    font-size: 130px;
    font-weight: 900;
    position: relative;
}

#page1s h1::before {
    content: "About-Us";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #1e93c1;
    z-index: -1;
}

#page1s h2 {
    font-size: 33px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1s p {
    font-size: 22px;
    font-weight: 500;
    width: 52%;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #95c119;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 400px;
    width: 400px;
    background-color: #94c11968;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}

#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    display: flex;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller-in-2 {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }

#scroller h4 {
    display: inline-block;
    font-size: 100px;
    font-weight: 500;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.4s;
    -webkit-text-stroke: 3px #1e4fc1;
    color: transparent;
}

#scroller h4:hover {
    color: #1e4fc1;
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#about-us img {
    width: 220px;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in {
    width: 60%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 40px;
    font-weight: 900;
}

#about-us-in p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
}

#cards-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card {
    height: 80%;
    width: 24%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#card1{
    background-image: url(https://chennai.vit.ac.in/wp-content/uploads/2021/06/Cyber-Security-Certification-Course-Computer-Science-Certification-Courses.jpg);
}
#card2{
    background-image: url(https://www.chitkara.edu.in/blogs/wp-content/uploads/2022/11/Computer-Science-Courses.jpg);
}
#card3{
    background-image: url(https://www.maacindia.com/images/courses/3d-course-img-01.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 30px;
    padding-top: 100px;
    opacity: 0;
    transition: all ease 0.6s;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,15deg);
}
.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}
.overlay p{
    color: #000;
    font-size: 25px;
}
#green-div{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right bottom, red,blue);
}
#green-div h1{
    font-size: 27px;
    font-weight: 900;
    line-height: 50px;
    color: #000;
    text-transform: uppercase;
}
#green-div img{
    height: 20vh;
    object-fit: cover;
    width: 10%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 p{
    font-size: 35px;
    font-weight: 400;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 10%;
    top: 59%;
}
#page3 #colon2{
    left: 84%;
    top: 71%;
}
#page3s{
    height: 70vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3s p{
    font-size: 35px;
    font-weight: 400;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3s img{
    position: absolute;
    height: 60px;
}
#page3s #colon1{
    left: 10%;
    top: 64%;
}
#page3s #colon2{
    left: 84%;
    top: 80%;
}
#page4{
    height:50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    position: relative;
}
.elem{
    height: 60%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #c1441e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.6s;
    font-size: 27px;
    color: #000;
    font-weight: 800;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
    scale: 1.1;
}
.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 5.4vw;
    position: absolute;
    top: -1%;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 2px #95c11e;
}
footer{
    height: 50vh;
    width: 100%;
    background: linear-gradient(to left top ,red,blue);
    align-items: center;
    justify-content: center;
    display: inline-table;
}
footer a{
    margin-top: 20%;
    display: table-row, flex;
    font-size: 40px;
    cursor: pointer;
}
footer img{
    margin-top: 2%;
    margin-left: 2%;
    height: 30px;
    cursor: pointer;
}
footer .s{
    margin-left: 20%;
    font-size: 40px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
